
:root {
    --colNum: 16;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: rgba(255, 94, 94, 1);
}

.js-container {
    display: grid;
    grid-template-columns: repeat(var(--colNum), auto);
    margin: 30px auto;
    max-width: 500px;
    width: 65vw;
    max-height: 500px;
    height: 65vw;
    border: 1px solid rgba(255, 212, 196, 1);
}

.js-container > div {
    border: 1px solid rgba(255, 212, 196, 1);
}

.js-container > div:hover {
    border: 1px solid rgba(255, 212, 196, 1);
}

.range-slider { 
    -webkit-appearance: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: rgba(255, 94, 94, 1);
    font-family: sans-serif;
}

#js-grid-slider {
    -webkit-appearance: none;
    width: 300px;
    height: 4px;
    background: rgba(255, 212, 196, 1);
}

#js-grid-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 135, 135, 1);
    border-radius: 50px;
}

#js-grid-slider::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0px 10px rgba(255, 135, 135, 0.5); 
}

#js-reset-btn {
    display: flex;
    margin-top: 5px;
    padding: 15px 30px;
    border: 3px solid rgba(255, 135, 135, 1);
    border-radius: 6px;
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: rgba(255, 135, 135, 1);
}

#js-reset-btn:hover {
    transform: scale(1.1);
    background-color: rgba(255, 135, 135, 1);
    font-size: 17px;
    color: white;
}

.break {
    flex-basis: 100%;
}